::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background:#071b1c ; 
     
    }

    ::-webkit-scrollbar-thumb {
      background: linear-gradient( #324d53, #764b7c); 
      border-radius: 6px; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
       background: linear-gradient( #39483c, #191f18); 
        transition: 0.3s ease-in-out; 
    }